.profile {
    padding-top: 20px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100%;
        overflow: hidden;

    background-color: rgb(124, 182, 52);
            border-radius: 5px;

}

.description {
    display: flex;
        flex-direction: column;
        align-items: center;

}

.avatar{
    width: 100px;
        margin-bottom: 10px;
        border-radius: 50%;
        background-color: rgb(47, 68, 137);

}

.name {
    font-size: 35px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;

}

.tag {
    margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;

}

.location{
    margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;

}

.stats {
    display: flex;
    width: 100%;
  
        align-items: center;

        background: #f0f0f0;
 
}

.item {

    width: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        flex-direction: column;
        border-top: 0.5px solid rgb(82, 82, 82);
        
}


.item:not(:last-child){
    border-right: 0.5px solid rgb(82, 82, 82);;
}



.label {
   margin-bottom: 10px;
}

.quantity{
    font-weight: 8000;
}